:root {
    background-image: url(assets/Fondo\ final.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
}

header {
  width: 100%;
  max-height: fit-content;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgba(234, 140, 85,0.5);
  font-size: 1em;
}

.marginLeft {
    padding: 2em 1em;
}

a {
    text-decoration: none;
    color: #08090A;
}

a:hover {
    color: #B80C09;
}

a:active {
    color: #EA8C55;
}

.logo{
    display: flex;
    font-family: 'Dancing Script', cursive;
    margin-right: auto;
    color: #08090A;
    font-size: 1em;
}


.home {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    color: #B80C09;
    background-color: #faf8d4;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ea8c55' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

p {
    font-size: 18px;
}

h2, h3, h4 {
    font-size: 20px;
}
.about_us {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
}

.form{
    padding: 20px;
    background-size: cover;
    background-position: center;
    width: 80%;
    text-align: center;
    background-color: rgba(234, 140, 85,0.5);
}

footer {
    display: flex;
    width: auto;
    height: 10px;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.galery {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.galery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}